<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card mt-2 mb-5">
                <div class="card-body">
                    <p>
                        Our problem is set in the planet of Lengaburu…in the distant
                        distant galaxy of Tara B. After the recent war with neighbouring
                        planet Falicornia, King Shan has exiled the Queen of Falicornia
                        for 15 years.
                    </p>
                    <p>
                        Queen Al Falcone is now in hiding. But if King Shan can find
                        her before the years are up, she will be exiled for another 15
                        years….
                    </p>   
                    <p>
                        King Shan has received intelligence that Al Falcone is in hiding in one of these 6 planets - DonLon, Enchai, Jebing,
                        Sapir, Lerbin & Pingasor. However he has limited resources at his disposal & can send his army to only 4 of these
                        planets.
                    </p>
                    <p>
                        Help King Shan in his Mission by finding Queen AI falcone. Please click on Get Started to proceed.
                    </p> 
                    <div class="text-center">
                        <button class="btn btn-success" (click)="getStarted()">Get Started</button>              
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>